<h2>List of children</h2>
<ul>
    {{#each childList}}
        <li>
            <label>
                {{this.name}}
                <select>
                    <option value="">Brak</option>
                    {{#each ../giftList}}
                        <option value="{{this.name}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </label>
            <button>Zapisz</button>
        </li>
    {{/each}}
</ul>
<h2>Add new child to list</h2>
<form action="">
    <label>
        Imię
        <input name="name" type="text">
    </label>
</form>